.colorprincipal{
    background-color:rgb(0, 225, 255)!important; 
}
.btn.primary{
    background-color:  rgb(0, 225, 255) !important;
    border-color:rgb(0, 225, 255) !important;
}
.btn.primary:hover{
    background-color: rgb(0, 225, 255)!important;
    border-color:rgb(0, 225, 255) !important;
}
.fondo{
    background-image: url("./img/me\ gusto.jpg"); 
    background-position: top center;
    background-size: cover;
    padding: 20%;
    background-attachment: fixed;
}